.title {
  font-family: var(--font-inter);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  z-index: 1;
}

.white {
  color: #FFF;
}

.black {
  color: #000;
}

.centered {
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 40px;
  }
}
