* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding-top: 109px;
  background: #F8F9FA;
}

a {
  color: inherit;
  text-decoration: none;
}
